@font-face {
    font-family: 'Astonpoliz';
    src: url(../fonts/Astonpoliz.otf);
}

@font-face {
    font-family: 'Classica';
    src: url(../fonts/Classica-Book.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Classica';
    src: url(../fonts/Classica-BookOblique.ttf);
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Classica';
    src: url(../fonts/Classica-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Classica';
    src: url(../fonts/Classica-BoldOblique.ttf);
    font-weight: bold;
    font-style: oblique;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Classica';
    margin: 0;
    background-color: #ebf0f4;
}

.out {
    background-image: linear-gradient(to left, #f1aeff, #ff8484);
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.out-form {
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    border-top: 5px solid #5f3fff;
    border-radius: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 0 10px #84deff;
}

.out-form img {
    width: 100%;
}

.out-form label {
    font-size: medium;
}

.out-form .out-input {
    border-style: solid;
    height: 30px;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
    border-bottom: 3px solid #ff5555;
}

.out-form .out-submit {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #ff5555, #ff7979);
    box-shadow: 0 0 10px #ff7979;
    border-style: none;
    color: white;
}

.out-form .out-submit:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, #5f3fff, #ff5555);
    box-shadow: 0 0 10px #5f3fff;

}

.out-form p {
    font-size: small;
}

.out-form p a {
    text-decoration: none;
    font-weight: bold;
    color: #7256ff;
}

.out-form p a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #8168ff;

}