* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background-color: #f6f5ff;
    font-family: system-ui, sans-serif;
}

.header, .gallery {
    background-color: #ffffff;
    box-shadow: 0 4px 8px #4a47a433;
    margin-bottom: 20px;
}

.container .title {
    text-align: center;
}

.property {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
}

.property a {
    text-decoration: none;
}

.property a .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px #4a47a333;
}

.badge {
    position: absolute;
    background-color: #f44336;
    z-index: 10;
    margin: 10px;
    padding: 7px 10px;
}

.top-right {
    top: 0;
    right: 0;
    background-color: #f44336;
    border-radius: 0;
}

.top-left {
    top: 0;
    left: 0;
    background-color: #5e35b1;
    border-radius: 0;
}

.property-title { 
    font-size: 2rem;
    font-weight: bold; 
}
.badge-sale { 
    background-color: #ff4d6d; 
    color: white; 
    font-size: 0.9rem; 
}
.thumb-img { 
    height: 80px; 
    object-fit: cover; 
    cursor: pointer; 
}
.carousel-inner img { 
    height: 400px; 
    object-fit: cover; 
}
.card-title, h6 { 
    margin-bottom: 0.5rem; 
}

.card a {
    text-decoration: none;
    color: black;
}
.card a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px #4a47a333;
}

.property-card { 
    transition: transform 0.2s ease-in-out;
 }

.property-card:hover {
    transform: scale(1.02); 
    } 
    
.agent-img { 
    width: 100px;
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%; 
} 